# Mundo 26

### Análise de dados

In [1]:
import pandas as pd
import yfinance as yf
import numpy as np

In [3]:
acoes = ['WEGE3.SA', 'VALE3.SA', 'PETR4.SA', 'LREN3.SA', 'PETR3.SA']

dados_acao = yf.download(acoes, "2019-08-31", "2022-08-31")['Close']

dados_acao

[*********************100%***********************]  5 of 5 completed

Ticker       LREN3.SA   PETR3.SA   PETR4.SA   VALE3.SA   WEGE3.SA
Date
2019-09-02  35.619637   9.005447   7.934373  27.646873  10.496093
2019-09-03  35.202164   9.050523   8.028456  27.352436  10.224243
2019-09-04  35.747005   9.279121   8.235439  27.953323  10.426973
2019-09-05  35.555943   9.337076   8.276210  27.953323  10.496093
2019-09-06  35.357826   9.398249   8.316979  27.911264  10.523738
...               ...        ...        ...        ...        ...
2022-08-24  22.231487  21.794924  19.833111  56.105701  27.531366
2022-08-25  22.533566  21.573889  19.620865  57.195614  27.684374
2022-08-26  22.696856  21.789103  19.833111  56.336910  27.550489
2022-08-29  22.476418  22.260252  20.328350  55.246990  27.129723
2022-08-30  22.362116  21.003862  19.119732  53.645149  27.148849

[744 rows x 5 columns]

In [4]:
retornos = dados_acao.pct_change().dropna()

retornos

Ticker      LREN3.SA  PETR3.SA  PETR4.SA  VALE3.SA  WEGE3.SA
Date
2019-09-03 -0.011720  0.005005  0.011858 -0.010650 -0.025900
2019-09-04  0.015478  0.025258  0.025781  0.021968  0.019828
2019-09-05 -0.005345  0.006246  0.004951  0.000000  0.006629
2019-09-06 -0.005572  0.006552  0.004926 -0.001505  0.002634
2019-09-09 -0.009606  0.019870  0.015460  0.031001 -0.011384
...              ...       ...       ...       ...       ...
2022-08-24  0.008519  0.006717  0.005981 -0.032189 -0.000347
2022-08-25  0.013588 -0.010142 -0.010702  0.019426  0.005558
2022-08-26  0.007247  0.009976  0.010817 -0.015013 -0.004836
2022-08-29 -0.009712  0.021623  0.024970 -0.019346 -0.015273
2022-08-30 -0.005085 -0.056441 -0.059455 -0.028994  0.000705

[743 rows x 5 columns]

In [5]:
retornos.corr()

Ticker    LREN3.SA  PETR3.SA  PETR4.SA  VALE3.SA  WEGE3.SA
Ticker
LREN3.SA  1.000000  0.486321  0.479184  0.273546  0.372896
PETR3.SA  0.486321  1.000000  0.977738  0.554721  0.380908
PETR4.SA  0.479184  0.977738  1.000000  0.548374  0.385852
VALE3.SA  0.273546  0.554721  0.548374  1.000000  0.278462
WEGE3.SA  0.372896  0.380908  0.385852  0.278462  1.000000

In [6]:
retornos.cov()

Ticker    LREN3.SA  PETR3.SA  PETR4.SA  VALE3.SA  WEGE3.SA
Ticker
LREN3.SA  0.000910  0.000486  0.000461  0.000223  0.000310
PETR3.SA  0.000486  0.001096  0.001033  0.000496  0.000348
PETR4.SA  0.000461  0.001033  0.001019  0.000473  0.000340
VALE3.SA  0.000223  0.000496  0.000473  0.000730  0.000208
WEGE3.SA  0.000310  0.000348  0.000340  0.000208  0.000761

In [ ]:
acoes = ['WEGE3.SA', 'VALE3.SA', 'PETR4.SA', 'LREN3.SA', 'PETR3.SA', '^BVSP']

dados_acao = yf.download(acoes, "2011-08-31", "2022-08-31")['Adj Close']

retornos = dados_acao.pct_change().dropna()

retorno_ibov = retornos['^BVSP']

retornos = retornos.drop('^BVSP', axis = 1)

corr_movel = retornos.rolling(252).corr(retorno_ibov)

corr_movel = corr_movel.dropna()

corr_movel

In [ ]:
corr_movel.plot()

In [ ]:
cor_weg_vale = retornos['WEGE3.SA'].rolling(252).corr(retornos['VALE3.SA']).dropna().plot()

# Exercícios 
<BR>
    
* Exercício 84: Puxe os dados de ITUB3, ITUB4, SANB11, WEGE3 e ABEV3 e calcule a matriz de correlação de 36 meses entre os retornos diários das ações.
<BR>
    
* Exercício 85: Calcule a correlação móvel de 12 meses entre o Ibovespa e o S&P500 desde 01/01/2000.

In [ ]:
#Gabarito 84

acoes = ['ITUB3.SA', 'ITUB4.SA', 'SANB11.SA', 'WEGE3.SA', 'ABEV3.SA']

dados_acao = yf.download(acoes, "2019-08-31", "2022-08-31")['Adj Close']

matriz_correlacao = dados_acao.pct_change().dropna().corr()

matriz_correlacao

In [ ]:
#Gabarito 85

acoes = ['^GSPC', '^BVSP']

dados_indices = yf.download(acoes, "2000-01-01", "2022-08-31")['Adj Close']

retornos = dados_indices.pct_change().dropna()

corr_movel = retornos['^BVSP'].rolling(252).corr(retornos['^GSPC']).dropna()

corr_movel.plot()

# Mundo 27

Como calcular métricas de vários grupos diferentes dentro de um dataframe? Veremos isso na próxima aula!